asgiref==3.7.2
beautifulsoup4==4.12.2
boto3==1.28.9
botocore==1.31.9
certifi==2023.5.7
charset-normalizer==3.1.0
crispy-bootstrap4==2024.1
crispy-bootstrap5==0.7
distlib==0.3.7
dj-database-url==2.0.0
Django==4.2.2
django-bootstrap-v5==1.0.11
django-ckeditor==6.7.0
django-ckeditor-5==0.2.9
django-crispy-forms==2.0
django-embed-video==1.4.9
django-environ==0.10.0
django-jazzmin==3.0.1
django-js-asset==2.1.0
django-storages==1.13.2
djangorestframework==3.15.2
filelock==3.13.1
gunicorn==21.2.0
idna==3.4
jmespath==1.0.1
newsapi-python==0.2.7
newsdataapi==0.1.8
packaging==23.1
pdfkit==1.0.0
Pillow==10.0.0
platformdirs==4.1.0
psycopg2==2.9.6
python-dateutil==2.8.2
python-decouple==3.8
requests==2.31.0
s3transfer==0.6.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
virtualenv==20.25.0
whitenoise==6.5.0
wkhtmltopdf==0.2
