


{% extends '../base.html' %} {% load static %} {% block content %}




<!-- about section starts  -->

<section class="about" id="about">

   <h1 class="heading"> about us </h1>

   <div class="row">

      <div class="video">
         <video src="../static/images/techsinformatique.mp4" loop muted autoplay></video>
      </div>

      <div class="content">
         <h3>Nous vous fournirons le meilleur travail dont vous avez rêvé !</h3>
         <p>Innovation Connectée, Solutions Sans Limite.Gerez et digitalisez vous projets pour vous .Demarquez des autres avec des solutions intelligentes, Résultats Éclatants.</p>
         <p>  Réinventer le Numérique, Transformer l'Avenir est une source de vie chez nous</p>
         <p>Techs-infoamatique, Votre Vision, Notre Technologie! </p>
         <a href="#services" class="btn">read more</a>
      </div>

   </div>

   <div class="box-container">

      <div class="box">
         <h3>+3</h3>
         <p> années d'expérience</p>
      </div>

      <div class="box">
         <h3>+50</h3>
         <p>projets terminés</p>
      </div>

      <div class="box">
         <h3>+45</h3>
         <p>clients satisfaits</p>
      </div>

      <div class="box">
         <h3>+7</h3>
         <p>travailleurs actifs</p>
      </div>

   </div>

</section>


 
{% endblock content %}
