{% extends 'base.html' %} {% load static %}{% block content %}
<title>{% block title %}Techs-Informatique-blogs{% endblock title %}</title>



 <!-- header section starts  -->


 
<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> Notre blogs </h1>
   
    <div class="swiper blogs-slider">
 
       <div class="swiper-wrapper">
 
         
           {% for blogs in myblog %}
          <div class="swiper-slide slide">
             <div class="image">
                <img src="{{ blogs.image.url }}" alt="">
             </div>
             <div class="content">
                <h3>{{blogs.title}}</h3>
                <p>{{blogs.description|truncatechars:100|safe}}</p>
                <a href="{% url 'blogdetail' blogs.title %}" class="btn">Lire plus</a>
             </div>
          </div>
            {% endfor %}
         
 
          
 
       </div>
    
    </div>
 
 </section>
 
 <!-- blogs section ends -->




 
 

 {% endblock content %}



