{% extends 'base.html' %} {% load static %}{% block content %}
<title>{% block title %}Tech-Informatique-blogdetail{% endblock title %}</title>

 <!-- header section starts  -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading">  blog detail</h1>
 
    <div class="swiper blogs-slider">
 
          <div class="swiper-slide slide">
             <div class="image">
                <img src="{{blogdetaile.image.url}}" alt="">
             </div>
             <div class="content">
                <h3>{{blogdetaile.title}}</h3>
                <p>{{blogdetaile.description}}</p>
         
             </div>
             <h1 class="heading">  blog detail</h1>
          
          </div>
 
    </div>
 
 </section>
 
 <!-- blogs section ends -->
 {% endblock content %}



