{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Techs-Informatique-Article Complet{% endblock title %}</title>

<!-- blogs section starts -->

<section class="blogs" id="blogs">

    <h1 class="heading">Article complet</h1>
 
    <div class="swiper blogs-slider">
 
        <div class="swiper-slide slide">
            <div class="image">
                <img src="{{ blogdetaile.image.url }}" alt="">
            </div>
            <div class="content descripblo">
                <h3>{{ blogdetaile.title }}</h3>
                <article>
                    <!-- Afficher le contenu nettoyé avec le filtre safe pour rendre les balises <p> -->
                    <div class="descripblo">{{ contenu_nettoye|safe }}</div>
                </article>
            </div>
        </div>
 
    </div>
 
</section>
 
<!-- blogs section ends -->
{% endblock content %}
