{% extends 'base.html' %} {% load static %}{% block content %}
<title>{% block title %}Techs-Informatique-Article complet{% endblock title %}</title>

 <!-- header section starts  -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading">  Article complet</h1>
 
    <div class="swiper blogs-slider">
 
          <div class="swiper-slide slide">
             <div class="image">
                <img src="{{blogdetaile.image.url}}" alt="">
             </div>
             <div class="content descripblo">
                <h3>{{blogdetaile.title}}</h3>
                <article>
                <p class="descripblo">{{blogdetaile.description}}</p>
               </article>
    

 
    </div>
 
 </section>
 
 <!-- blogs section ends -->
 {% endblock content %}



