{% extends 'base.html' %} {% load static %}

{% block content %}



<!-- pricing section starts  -->

<section class="pricing" id="pricing">

   <h1 class="heading"> Nos plans </h1>

   <div class="box-container">

     

    {% for pricings in myprising  %}
    


      <div class="box">
        
         <i class="{{ pricings.icon_class}}"></i>

       
         <h3>{{pricings.title}}</h3>
         <div class="price"><span></span>{{pricings.prise}}<span>CFA</span></div>
         <div class="list">
            <p>{{pricings.pric1}}</p>
            <p>{{pricings.pric2}}</p>
            <p>{{pricings.pric3}}</p>
            <p>{{pricings.pric4}}</p>
            <p>{{pricings.pric5}}</p>
         </div>
         <a href="#" class="btn">choisie ton plan de site</a>
      </div>
      {% endfor %}
   </div>

</section>

<!-- pricing section ends -->
 
 {% endblock content %}


