{% extends 'base.html' %} {% load static %}{% block content %}
<title>{% block title %}Techs-informatique-projets{% endblock title %}</title>



<!-- projects section starts  -->

<section class="projects" id="projects">

   <h1 class="heading"> nos projets </h1>

   <div class="box-container">

      {% for projets in myprojet %}
      
      <a href="{{projets.image.url}}" class="box">
         <div class="image">
            <img src="{{projets.image.url}}" alt="">
         </div>
         <div class="content">
            <div class="info">
               <h3>{{projets.title}}</h3>
               <p>{{projets.lien}}</p>
            </div>
            <i class="fas fa-plus"></i>
         </div>
      </a>
      
      {% endfor %}

    
   

   </div>
  
</section>

<!-- projects section ends -->


{% endblock content %}