
{% extends 'base.html' %} {% load static %} {% block content %}
<title>{% block title %}Tech-Informatique-services{% endblock title %}</title>

  

<!-- services section starts  -->

<section class="services" id="services">

   <h1 class="heading"> Nos services </h1>

   <div class="box-container">


      {% for services in myservice %}
 

      <div class="box">
         <img src="{{services.image.url}}" alt="">
         <h3>{{services.title}}</h3>
         <p>{{services.description|truncatechars:300|safe}}</p>
         <a href="#services" class="btn">voire plus</a>
      </div>
      {% endfor %}
     

   </div>

</section>

<!-- services section ends -->
 


{% endblock content %}
