
{% extends '../base.html' %} {% load static %} 
<title>{% block title %}Tech-Informatique-services{% endblock title %}</title>
{% block content %}
  



<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> Nos services </h1>
 
    <div class="box-container">
 {% for services in myservice %}
 

       <div class="box">
          <img src="{{services.image.url}}" alt="">
          <h3>{{services.title}}</h3>
          <p>{{services.description|truncatechars:300|safe}}</p>
       </div>
       {% endfor %}
      
    </div>
 
 </section>
 
 <!-- services section ends -->
 


{% endblock content %}
