
{% load static %} 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png ' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png ' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png ' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png ' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    



    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.scss' %}" />
    
    
  
</head>


<body>
    
 <!-- header section starts  -->

 <header class="header">

    <a href="/" class="logo">Techs -<span>infos</span></a>
 
    <nav class="navbar">
        <a href="/">Acceuil</a>
        <a href="/about">about</a>
        <a href="/services">services</a>
        <a href="/projets">projets</a>
        <a href="/pricing">tarifs</a>
        <a href="/contact">contact</a>
        <a href="/blogs">blogs</a>
    </nav>
 
    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="info-btn" class="fas fa-info-circle"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <div id="login-btn" class="fas fa-user"></div>
    </div>
 
    <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>
 
    <form action="" class="login-form">
        <h3>login form</h3>
        <input type="email" placeholder="enter your email" class="box">
        <input type="password" placeholder="enter your password" class="box">
        <div class="flex">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me">remember me</label>
            <a href="#">mot de passe oublié ?</a>
        </div>
        <input type="submit" value="login now" class="btn">
        <p>vous n'avaiq pas de compte <a href="#">créé le votre!</a></p>
    </form>
 
 </header>
 
 <div class="contact-info">
 
    <div id="close-contact-info" class="fas fa-times"></div>
 
    <div class="info">
        <i class="fas fa-phone"></i>
        <h3>phone number</h3>
        <p>+221 78-309-45-33</p>
        <p>+212 06-2098-347</p>
    </div>
 
    <div class="info">
        <i class="fas fa-envelope"></i>
        <h3>email address</h3>
        <p>techsinformatique@gmail.com</p>
        <p>techsinfos@gmail.com</p>
    </div>
 
    <div class="info">
        <i class="fas fa-map-marker-alt"></i>
        <h3>office address</h3>
        <p>Casablanca, Oulafa - 20202</p>
    </div>
 
    <div class="share">
        <a href="https://www.facebook.com/profile.php?id=61554234103258" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="https://www.linkedin.com/company/100423254" class="fab fa-linkedin"></a>
    </div>
 
 </div>
 
 
 <!-- header section ends -->

    {% block content %} 
    {% endblock content %}


</body>






    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    
    <!-- custom js file link  -->
   
    <script defer src="{% static 'js/script.js' %}"></script>
    
    <script>
    
    lightGallery(document.querySelector('.projects .box-container'));
    
    </script>
    

    <!-- footer section starts  -->

<section class="footer">

    <div class="links">
       <a class="btn" href="#home">home</a>
       <a class="btn" href="#about">about</a>
       <a class="btn" href="#services">services</a>
       <a class="btn" href="#projects">projects</a>
       <a class="btn" href="#pricing">pricing</a>
       <a class="btn" href="#contact">contact</a>
       <a class="btn" href="#blogs">blogs</a>
    </div>
 
    <div class="credit"> created by <span>mr. kountadev</span> | all rights reserved! </div>
 
 </section>
 
 <!-- footer section ends -->
    </body>
    </html>
    
    
    
    
    
    
    
    
    